body{
    margin: 0;
    padding: 0;
}
@media screen and (min-width:1280px){
    .container{
        padding: 22px 70px;
    }
    .row1{
        /* border: 1px solid black; */
        max-width: 500px;
        margin-top: 90px;
        margin-bottom:32px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        /* padding: 5px;
        margin: 5px; */
        font-family: 'Roboto Slab', serif;
    }
    .row1 p{
        /* border: 1px solid black; */
        padding: 0; 
        margin: 0;
        color:black;
        width: 130px;
        height: 32px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        /* margin-right: 14px; */
    }
    .im{
        /* border: 1px solid black; */
        width: 22px;
        height: 21px;
    }
    row1 .im img{
        width: 100%;
    }

    .kak{
        
        width: 628px;
        height: 190px;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 900;
        font-size: 80px;
        line-height: 101.38%;
        padding: 0;
        margin: 0;
    }
    .za{
        width: 414px;
        height: 62px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color:black;
    }

    .metn1sekil1{
        margin: 0;
        width: 1072px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .zri{
        width: 483.63px;
        height: 200px;
        background-color: #1E4681;
        margin-left: 290px;
        margin-top: 60px
    }
    .zri .a{
        width: 430.59px;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        text-align: left;
        padding:20px 20px 6px 20px;
        color: white;
        margin: 0;
    }
    .zri .b{
        text-align: right;
        padding-right: 20px;
        margin: 0;
        font-size: 22px;
        color:white;
    }

    .second{

        margin-top: 177px;
    }
    .kurs{
        /* border: 1px solid black; */
        width: 365px;
        height: 53px;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        line-height: 101.38%;
        padding-top: 0;
    }
    .second .row2{
        padding: 0;
        display: flex;
        justify-content: space-between;
        width: 1170px;
        margin-bottom: 90px;
    }
    .second .row2 .c{
        width: 662px;
        height: 374px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;

    } 
    .second .row2 .d{
        padding-top: 20px;
    }
    /* .row2 .d{
        border: 1px solid black;
    } */
    .second .row3{
        width: 1000px;
        display: flex;
        justify-content: space-between;
    }
    .second .row3 .kub{
        padding-top: 50px;
        width: 150px;
        height: 39px;
    }
    .second .row3 .kub .h{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 130%;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .second .row3 .kub .k{
        padding-top: 10px;
        margin-top: 0;
        font-family: 'Roboto';
        font-style: normal;
    }
    .second .row3 .rej{
        margin-right: 40px;
    }
    .third .format{
        width: 667px;
        height: 93px;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 900;
        font-size: 55px;
        line-height: 101.38%;
        margin-bottom: 65px;
        
    }
    .third .row2{
        display: flex;
        justify-content: space-between;
        width: 980px;
    }
    .third{
        margin-top:175px;
    }
    .third .row2 .kub .k{
        width: 250px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        
    }
    .third .row2 .kub .h{
        width: 214px;
        height: 20px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 25px;
        line-height: 130%;
        color:#1E4681
    }
}